.pixel {
    width: var(--pixel-size);
    height: var(--pixel-size);
    box-sizing: border-box;
    border: 1px solid #2e3a53;
}

.pixelGrid {
    background-color: #2e3a53;
    padding: 6px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--pixel-size));
}