.colorRow {
    display: flex;
    justify-content: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    border-radius: 2px;
    margin: 2px;
    border: 3px solid transparent;
}

.colorPicker {
    padding: 10px;
    background-color: #1A2130;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.selected {
    border: 3px solid #ffd700 !important;
}